<div id="container">
    <div class="nav">
        <img src="../../assets/birdwhitenobg.png">
        <div class="links"><a href="/contacts">Contacts</a><a href="/addcontact">Add Contact</a> <a (click)="logout()">Logout</a></div>
    </div>
    
    <div class="addcontactcontents">

        <div class="card">
            <img src="../../assets/birdnobg.png">
            <h1>Add Contact</h1> <br>
         
      <form (ngSubmit)="addcontact()">
          <mat-form-field class="inputs">
              <mat-label>Name</mat-label>
              <input matInput type="text" required [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
            </mat-form-field> <br>
      
            <mat-form-field class="inputs">
              <mat-label>Contact Number</mat-label>
              <input matInput type="text" required [(ngModel)]="contactnumber" [ngModelOptions]="{standalone: true}">
            </mat-form-field> <br>
      
            <mat-form-field class="inputs">
          <mat-label>Email</mat-label>
              <input matInput type="email" required [(ngModel)]="email" [ngModelOptions]="{standalone: true}"> 
              </mat-form-field>
              <br>
              <button mat-flat-button color="primary" type="submit" >Add Contact</button>

              </form>
      <h2 class="red">{{status}}</h2>

    </div>
    
    </div>
    
    